html{
    font-family: 'Lato', sans-serif;
}

/* általános szelektor */
/* az oldalon lévő összes p elemre */
p {
    color: firebrick;
}

div p {
    color: darkslateblue;
}

h1, h2 {
    color: aqua;
}

.szegely { 
    border: 2px solid black;
}

.fontos {
    color: red;
}