<html>
    <head>
        <title>All results</title>
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Oswald:300&display=swap" rel="stylesheet">
        <meta name="description" content="[ultimatebikejournal]" charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="CSS/ResultStyleView.css">
        <meta name="viewport" content="width=device-width">
        <script src="../JS/AllResultsView.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body onload="getAllResults()">
        <div class="topnav">
            <a class="first" href="LoggedView.html" target="_self">Back to the Main Page</a>
            <a class="first" href="MyResultView.html" target="_self">My Results</a>
            <div class="clock" id="clock"></div>
            <div class="dropdown">
              <div class="dropbtn">Record an activity
                
              </div>
              <div class="dropdown-content">
                <a href="CyclingView.html">Cycling</a>
                <a href="RunView.html">Running</a>
                <a href="SwimView.html">Swimming</a>
              </div>
            </div>
        </div>
        <div class="titlebox">
            <div class="title">The Ultimate Bike Journal</div>
            </div>
        <div class="mainContainer">
            <div class="resultContainer">
                <h1>Cycling</h1>
                <table id="cyclingResults" class="resultTable">
                </table>
                <h1>Running</h1>
                <table id="runningResults">

                </table>
                <h1>Swimming</h1>
                <table id="swimmingResults">

                </table>
            </div>
        </div>
    </body>
</html>