<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Oswald:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/ProfileStyle.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../JS/MyProfileView.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>My Profile</title>
    </head>
    <body onload="getMyProfile()">
        <div class="navbar">
            <a class="first" href="LoggedView.html" target="_self">Back to the Main Page</a>
            <a href="MyResultView.html" target="_self">My results</a>
            <a href="AllResultsView.html">All results</a>
            <div class="dropdown">
              <div class="dropbtn">Record an activity
              </div>
              <div class="dropdown-content">
                <a href="CyclingView.html">Cycling</a>
                <a href="RunView.html">Running</a>
                <a href="SwimView.html">Swimming</a>
              </div>
            </div>
            <div class="clock" id="clock"></div>
        </div>
        <div class="titlebox">
            <div class="title">The Ultimate Bike Journal</div>
        </div>
        <div class="regcontainer">
            <div class="containereg">
                <h2>My Profile</h2>
                <div class="userContainer">
                    <div class="profilContainer" id="profilContainer">
                        
                    </div>
                    <div class="formPopUp" id="deletePop"><h1 class="alertQuestion">Are you sure to delete your profile?</h1><br><button class="answerYes" onclick="deleteProfile()">Yes</button><button class="answerNo" onclick="dontDeleteProfile()">No</button></div>
                    <div class="changePwPopUp" id="changePwPopUp"><h1 class="changePwMsg">Please give the following datas</h1><br>
                        <div class="inputContainer">
                            <input type="password" name="oldpassword" id="oldpassword" placeholder="old password"><br>
                            <input type="password" name="newpassword" id="newpassword" placeholder="new password" onclick="showpasswordMsg()"><br>
                            <p class="passwordMsg" id="pwMsg">The password has to be between 8-20 characters</p>
                            <input type="password" name="newpassword2" id="newpassword2" placeholder="new password again"><br>
                            <div class="changePwBtnContainer"><button id="changePw" onclick="changePw()" class="chngPwButton">Change Password</button><br><br>
                                <button id="changePw" onclick="cancelChngPW()" class="chngPwButton">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>
